
.emptyContainer {
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #1F1F1F;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.addButton {
    color: blue;
    text-decoration: underline;
}