.iconButton {
    margin: 0;
    border: none;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0F6CBD;
    border-radius: 5px;
    cursor: pointer;

}